<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/stylesheets/player.css" type="text/css">
    <title>
        <%=title%>
    </title>
</head>

<body>
    <%- include('include/navbarPlayer.ejs')%>
        <div class="bg-img overlay"
            >
            <div class="container">
                
                <div class=" row edit-player">
                    <div class="back">
                        <a style="background-color: #d62828; color: #f1faee" href="/players" class="btn mt-2""><i class=" fa-solid fa-chevron-left"></i></a>
                    </div>
                    <div class="col-lg-5">
                        <form method="post" class="box" style="margin-top: 0;">
                            <div class="mb-3">
                                <label class="label">Name</label>
                                <input type="text" class="form-control" name="name" placeholder="Name"
                                    value="<%= player.name%>" required>
                                <% if(error!='' ){%>
                                    <p class="errMsg">
                                        <%= error %>
                                    </p>
                                    <% } %>
                            </div>
                            <div class="mb-3">
                                <label class="label">Image</label>
                                <input class="form-control" type="text" name="image" placeholder="URL of image"
                                    value="<%= player.image%>" required>
                            </div>
                            <div class="mb-3">
                                <label class="label">Nation</label>
                                <select name="nation" class="form-select">
                                    <% for(let nation of nations){ %>
                                        <option value="<%=nation._id%>"
                                            <%=JSON.stringify(nation._id)===JSON.stringify(player.nation)? 'selected'
                                            : '' %>>
                                            <%= nation.name%>
                                        </option>
                                        <% } %>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="label">Club</label>
                                <select name="club" class="form-select">
                                    <% for(let club of clubList){%>
                                        <option value="<%=club.name%>"
                                            <%=JSON.stringify(club.name)===JSON.stringify(player.club)? 'selected' : ''
                                            %>>
                                            <%=club.name%>
                                        </option>
                                        <% } %>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="label">Position</label>
                                <select name="position" class="form-select">
                                    <% for(let position of positions){%>
                                        <option value="<%=position.name%>"
                                            <%=JSON.stringify(position.name)===JSON.stringify(player.position)? 'selected'
                                            : '' %>>
                                            <%=position.name%>
                                        </option>
                                        <% } %>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="label">Goals</label>
                                <input class="form-control" type="number" name="goals" placeholder="Goals"
                                    value="<%= player.goals%>" required>
                                <% if(error_msg!='' ){%>
                                    <p class="errMsg">
                                        <%= error_msg %>
                                    </p>
                                    <% } %>
                            </div>
                            <div class="mb-3">
                                <label class="label">Is Captain</label>
                                <select name="isCaptain" class="form-select">
                                    <% for(let captain of isCaptainList){ %>
                                        <option value="<%=captain.name%>"
                                            <%=JSON.stringify(captain.name)===JSON.stringify(player.isCaptain)? 'selected'
                                            : '' %>>
                                            <%=JSON.stringify(captain.name)===JSON.stringify('Captain')? 'Yes' :'No'%>
                                        </option>
                                        <% } %>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-common-footer">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>